; UIMD configuration file
; no spaces allowed on an uncommented line
; to write a comment, first character on that line must be ;
; valid keys {run_mode, client_ip, server_ip} (case-sensitive)
; valid run_mode values {server, client}

run_mode=server
; relevant when run_mode=client
server_ip=128.59.20.103
; relevant when run_mode=server
client_ip=128.59.20.38

run_dir=/home/agagneja/uimd2

; check the devices file at /proc/bus/input/devices :relevant when run_mode=server
mouse_event_interface=/dev/input/event3
keyboard_event_interface=/dev/input/event1

; the uinput device loaction: relevant when run_mode=client
uinput_device=/dev/input/uinput

;the port on which the server will listen
server_port=9980

